
<div class="modal-header">
 
    <h5 class="modal-title" id="staticBackdropLiveLabel2">Nouveau Medicament</h5>
  
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% if RemovalMode %} 
   {{ form_start(Removalform, {'action': path('stock_removal',{id: 2}), 'method': 'POST'}) }}
  {{form_row(Removalform)}}
  {{form_end(Removalform)}} 
{%  else %}  
    <div class="form-controls">
     
      {{ form_start(Medicform, {'action': path('stock_add'), 'method': 'POST'}) }}

      <div class="modal-body">
        <div class="form-error">
          {{ form_errors(Medicform) }}
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              {{ form_label(Medicform.dci) }}    
              {{ form_widget(Medicform.dci,{'attr' : { 'class' :'form-control border-width-2 is-warning'}}) }}
            </div>
          </div>
            <div class="col-lg-6">
             <div class="form-group">
              {{ form_label(Medicform.code) }}    
              {{ form_widget(Medicform.code,{'attr' : { 'class' :'form-control border-width-2 is-warning'}}) }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              {{ form_label(Medicform.forme) }}    
              {{ form_widget(Medicform.forme,{'attr' : { 'class' :'form-control border-width-2 is-warning'}}) }}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              {{ form_label(Medicform.dosage) }}    
              {{ form_widget(Medicform.dosage,{'attr' : { 'class' :'form-control border-width-2 is warning'}}) }}
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              {{ form_label(Medicform.min) }}    
              {{ form_widget(Medicform.min,{'attr' : { 'class' :'form-control border-width-2 is warning'}}) }}
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              {{ form_label(Medicform.max) }}    
              {{ form_widget(Medicform.max,{'attr' : { 'class' :'form-control border-width-2 is warning'}}) }}
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              {{ form_label(Medicform.seuil) }}    
              {{ form_widget(Medicform.seuil,{'attr' : { 'class' :'form-control border-width-2 is warning'}}) }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <div class="form-group">
                {{ form_label(Medicform.pa) }}    
                {{ form_widget(Medicform.pa,{'attr' : { 'class' :'form-control border-width-2 is warning'}}) }}
              </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              {{ form_label(Medicform.pv) }}    
              {{ form_widget(Medicform.pv,{'attr' : { 'class' :'form-control border-width-2 is warning'}}) }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              {{ form_label(Medicform.categorie) }}    
              {{ form_widget(Medicform.categorie,{'attr' : { 'class' :'form-control border-width-2 is-warning'}}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_label(Medicform.peremption) }}    
            {{ form_widget(Medicform.peremption,{'attr' : { 'class' :'form-control border-width-2 is warning'}}) }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              {{ form_label(Medicform.stock) }}    
              {{ form_widget(Medicform.stock,{'attr' : { 'class' :'form-control border-width-2 is-warning'}}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_label(Medicform.avoir) }}    
            {{ form_widget(Medicform.avoir,{'attr' : { 'class' :'form-control border-width-2 is warning'}}) }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        {{ form_widget(Medicform._token) }} 
       
          <button  class="btn btn-primary float-left" type="submit">Ajouter</button>
      
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>  
{{ form_end(Medicform,{'render_rest' :false}) }}
{% endif %}



       